<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Edit rememday</h1>

    <%= render 'form' %>
    <br />
    <br />
    <div>
      <%= button_to 'Show', entry_path(@entry), class: 'btn btn-default', style: 'float: left; margin: 0 10px 0 0;', method: :get %>
      <%= button_to 'Back', entries_path, class: 'btn btn-primary', style: 'float: left; margin: 0 10px 0 10px;', method: :get %>
    </div>
  </div>
</div>
